.my-modal {

  .footer {
    display: block !important;
  }

  .likes {
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    background-color: #26a69a;
    border-radius: 2px;
  }

  .comment-reply {
    display: flex;


    button {
      margin-left: 5px;
    }

    p {
      padding-left: 10px;
      font-size: 10px;
    }

  }
}

.reply:hover {
    color: teal;
    cursor: pointer;
  }
